<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Names
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-container">
    <div swingStack #swingStack [stackConfig]="stackConfig" (throwoutleft)="onReject($event)" (throwoutright)="onAccept($event)" id="card-stack">
      <ion-card swingCard #swingCards *ngFor="let card of cards" color="primary">
        <ion-card-header>
          <ion-img [src]="card.img"></ion-img>
          <ion-card-title>{{ card.name }}</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="hasCards()" id="actions-buttons">

    <ion-fab-button no-padding (click)="reject(null)" class="button-dislike" [disabled]="actionInProgress">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>

    <ion-fab-button no-padding class="button-bookmark" [disabled]="actionInProgress">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-button no-padding (click)="accept(null)" class="button-bookmark" [disabled]="actionInProgress">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>

  </div>

</ion-content>